.title-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  font-size: 16pt;
  .name {
    margin-left: 5vw;
    margin-right: 5vw;
    div {
      margin-bottom: 10px;
    }
  }
}

.container-flip {
  display: flex;
  position: relative;
  height: 48px;
}

.container-flip span {
  position: absolute;
  white-space: nowrap;
  opacity: 0;
  -webkit-animation: rotate-word 20s linear infinite;
  animation: rotate-word 20s linear infinite;
}

.container-flip span:nth-child(2) {
  -webkit-animation-delay: 2.5s;
  animation-delay: 2.5s;
}

.container-flip span:nth-child(3) {
  -webkit-animation-delay: 5s;
  animation-delay: 5s;
}

.container-flip span:nth-child(4) {
  -webkit-animation-delay: 7.5s;
  animation-delay: 7.5s;
}

.container-flip span:nth-child(5) {
  -webkit-animation-delay: 10s;
  animation-delay: 10s;
}

.container-flip span:nth-child(6) {
  -webkit-animation-delay: 12.5s;
  animation-delay: 12.5s;
}

.container-flip span:nth-child(7) {
  -webkit-animation-delay: 15s;
  animation-delay: 15s;
}

.container-flip span:nth-child(8) {
  -webkit-animation-delay: 17.5s;
  animation-delay: 17.5s;
}

@-webkit-keyframes rotate-word {
  0% {
    opacity: 0;
  }
  1% {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }
  4% {
    opacity: 0;
  }
  5% {
    opacity: 1;
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
  17% {
    opacity: 1;
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
  19% {
    opacity: 0;
  }
  20% {
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes rotate-word {
  0% {
    opacity: 0;
  }
  1% {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }
  4% {
    opacity: 0;
  }
  5% {
    opacity: 1;
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
  17% {
    opacity: 1;
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
  19% {
    opacity: 0;
  }
  20% {
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.flip {
  width: 100%;
}

@media (max-width: 750px) {
  .title-container {
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    font-size: 14pt;
    .name {
      margin-left: 5vw;
    }
  }
  .container-flip {
    height: 30px;
  }
}

@media (max-width: 390px) {
  .title-container {
    display: flex;
    flex-direction: column;
    font-size: 14pt;
    overflow-x: hidden;
    .name {
      margin-left: 5vw;
    }
  }
  .container-flip {
    height: 30px;
  }
}

@media (max-width: 350px) {
  .title-container {
    display: flex;
    flex-direction: column;
    font-size: 12pt;
    overflow-x: hidden;
    .name {
      margin-left: 5vw;
    }
  }
  .container-flip {
    height: 30px;
  }
}
